@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap');
* {
    font-family: 'Fira Sans', sans-serif !important;
    letter-spacing: 0.5px;
}
h4, h1 {
    color: #0097ff;
    font-weight: 500 !important;
}
h1{
    font-weight: 600 !important;
}
h5{
    margin-top: 2.5rem !important;
}
p, li{
    color: rgb(66, 66, 66);
}
.chapter-container{
    margin: 3rem 0 3rem 0;
}
.chapter-container a {
    color: #0097ff !important;
}
.figure-caption{
    margin: 0 5vw;
}
#index a {
    text-decoration: none !important;
}
#index {
    margin: 1rem 0;
}
@media screen and (min-width: 992px){
    #index{
        max-width: 70%;
    }
}

.banner{
    border: 2px solid #0097ff;
    padding: 1rem;
    margin: 2rem 0;
    text-align: center;
    border-radius: 6vh !important;
}
#riferimenti{
    font-size: smaller;
}
#riferimenti h6{
    margin-bottom: 1rem;
}

.oneline-canvas, .twocol-canvas {
    margin: 2rem 0 5rem;
}
.oneline-canvas img{
    max-height: 300px; 
    max-width: 100%;
    display: block; 
    margin: 2rem auto 0;  
}
.twocol-canvas img{
    max-height: 560px;
    max-width: 350px;
    display: block; 
    margin: 6px auto;
    padding: 0;
}
.framed{
    border: 1px solid rgba(0,0,0,.125);
}
.watermark{
    position: absolute;
    right: 0;
    z-index: 1;
    width: 35%;
    margin-top: -8.5%;
    margin-right: -5%;
    opacity: 0.5;
}